doctype html
html
  head
    title Artis Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar 
        ul 
            div#logo
                img(src='/static/logo.png')
                p ADA
            li #[a(href='/') Home]
            li #[a(href='/') About]
            li #[a(href='/') Services]
            li #[a(href='/') Class Info]
            li #[a(href='/') Contact Us]

    section#introSec 
        div Welcome To Artis Dance Academy
        div.small Dance. In. Your. Sleep.

    section#missionSec
        h2 Mission Of The Academy
        div.card 
            h3 Vibe With The Beats 
            div.card-box
                div.card-img
                    img(src='/static/img1.png')
                div.card-content
                    p Kehndi hondi si chann tak raah bana de, 
                    p Taare ne pasand mainu hetha saare laade     
        div.card 
            h3 Charismatic Moves
            div.card-box
                div.card-img
                    img(src='/static/img2.png')
                div.card-content
                    p Oh! na taareya de vich jado mainu vekhengi
                    p Meri yaad jado aaugi taan pata laguga
        div.card 
            h3 Elegant Style
            div.card-box
                div.card-img
                    img(src='/static/img3.png')
                div.card-content
                    p Dil naal laare ni tu laun waliye
                    p Dil tera jado tootuga taan pata laguga

    section#sponsorSec
        h2 Our Sponsors
        div.sponsor-box
            img(class='sponsorImage', src="/static/logo1.png", alt="Sponsor Image" )
            img(class='sponsorImage', src="/static/logo2.png", alt="Sponsor Image" )
            img(class='sponsorImage', src="/static/logo3.png", alt="Sponsor Image" )
            img(class='sponsorImage', src="/static/logo4.png", alt="Sponsor Image" )

    footer#footer 
        | Copyright © 2022 ArtisDanceAcademy.com | All Rights Reserved

    script
      include ../static/script.js